In [4]:
import pandas as pd
import matplotlib.pyplot as plt

# 데이터 경로
path = '../data_raw/'

# 카드매출 데이터 불러오기
sales_2023_sexage = pd.read_csv(path + 'card_sales_2023_sexage.csv', encoding='cp949')
sales_2024_sexage = pd.read_csv(path + 'card_sales_2024_sexage.csv', encoding='cp949')
sales_2023_time = pd.read_csv(path + 'card_sales_2023_time.csv', encoding='cp949')
sales_2024_time = pd.read_csv(path + 'card_sales_2024_time.csv', encoding='cp949')
sales_2023_month = pd.read_csv(path + 'card_sales_2023_month.csv', encoding='cp949')
sales_2024_month = pd.read_csv(path + 'card_sales_2024_month.csv', encoding='cp949')

# 카드매출 데이터 컬럼

## 1. sales_2023_sexage

| 컬럼명 | 의미 | 데이터 타입 | 예시 |
|:---|:---|:---|:---|
| 시군구명 | 경남 지역(시/군/구) 이름 | object | 창원시 의창구 |
| 월 | 결제 발생 월 (1–12) | int64 | 1 |
| 분류 | 업종 분류명 (교육, 자동차 등) | object | 교육 |
| 성별 | 결제자 성별 (남성/여성) | object | 남성 |
| 연령대 | 결제자 연령대 (20대, 30대 등) | object | 20대 |
| 매출건수 | 결제 건수 | int64 | 21 |
| 매출금액합계 | 결제 금액 합계 (원 단위) | int64 | 191400 |
| 데이터기준일 | 데이터 기준일 (YYYYMMDD) | int64 | 20240101 |



## 2. sales_2024_sexage

| 컬럼명 | 의미 | 데이터 타입 | 예시 |
|:---|:---|:---|:---|
| 시군구명 | 경남 지역(시/군/구) 이름 | object | 거제시 |
| 연월 | 결제 발생 연월 (YYYYMM) | int64 | 202401 |
| 분류 | 업종 분류명 | object | 교육 |
| 성별 | 결제자 성별 | object | 남성 |
| 연령대 | 결제자 연령대 (20대, 30대, 20대미만 등) | object | 20대 |
| 매출건수(건) | 결제 건수 | int64 | 884 |
| 매출합계(원) | 결제 금액 합계 (원 단위) | int64 | 15002742 |
| 집계시작일 | 데이터 수집 시작일 (YYYYMMDD) | int64 | 20240101 |
| 집계종료일 | 데이터 수집 종료일 (YYYYMMDD) | int64 | 20241231 |


## 3. sales_2023_time

| 컬럼명 | 의미 | 데이터 타입 | 예시 |
|:---|:---|:---|:---|
| 시군구명 | 경남 지역(시/군/구) 이름 | object | 창원시 의창구 |
| 시간대 | 결제 발생 시간 (0–23시) | int64 | 0 |
| 분류 | 업종 분류명 | object | 교육 |
| 매출건수 | 결제 건수 | int64 | 6 |
| 매출금액합계 | 결제 금액 합계 (원 단위) | int64 | 865000 |
| 데이터기준일 | 데이터 기준일 (YYYYMMDD) | int64 | 20240101 |


## 4. sales_2024_time

| 컬럼명 | 의미 | 데이터 타입 | 예시 |
|:---|:---|:---|:---|
| 시군구명 | 경남 지역(시/군/구) 이름 | object | 창원시 의창구 |
| 시간대 | 결제 발생 시간 (0–23시) | int64 | 0 |
| 분류 | 업종 분류명 | object | 교육 |
| 매출건수(건) | 결제 건수 | int64 | 62 |
| 매출합계(원) | 결제 금액 합계 (원 단위) | int64 | 8211103 |
| 집계시작일 | 데이터 수집 시작일 (YYYYMMDD) | int64 | 20240101 |
| 집계종료일 | 데이터 수집 종료일 (YYYYMMDD) | int64 | 20241231 |


## 5. sales_2023_month

| 컬럼명 | 의미 | 데이터 타입 | 예시 |
|:---|:---|:---|:---|
| 시군구명 | 경남 지역(시/군/구) 이름 | object | 창원시 의창구 |
| 월 | 결제 발생 월 (1–12) | int64 | 1 |
| 분류 | 업종 분류명 | object | 교육 |
| 유입지 | 결제자의 유입 지역 (도 단위) | object | 경남 |
| 매출건수 | 결제 건수 | int64 | 3056 |
| 매출금액합계 | 결제 금액 합계 (원 단위) | int64 | 308999322 |
| 데이터기준일 | 데이터 기준일 (YYYYMMDD) | int64 | 20240101 |

## 6. sales_2024_month

| 컬럼명 | 의미 | 데이터 타입 | 예시 |
|:---|:---|:---|:---|
| 시군구명 | 경남 지역(시/군/구) 이름 | object | 창원시 의창구 |
| 연월 | 결제 발생 연월 (YYYYMM) | int64 | 202401 |
| 분류 | 업종 분류명 | object | 교육 |
| 유입지 | 결제자의 유입 지역 (도 단위) | object | 경기 |
| 매출건수(건) | 결제 건수 | int64 | 21 |
| 매출합계(원) | 결제 금액 합계 (원 단위) | int64 | 1021247 |
| 집계시작일 | 데이터 수집 시작일 (YYYYMMDD) | int64 | 20240101 |
| 집계종료일 | 데이터 수집 종료일 (YYYYMMDD) | int64 | 20241231 |

---

In [22]:
sales_2024_month.info

<bound method DataFrame.info of           시군구명      연월    분류 유입지  매출건수(건)     매출합계(원)     집계시작일     집계종료일
0      창원시 의창구  202401    교육  경기       21     1021247  20240101  20241231
1      창원시 의창구  202401    교육  경남    26587  2814543708  20240101  20241231
2      창원시 의창구  202401    교육  부산       62     5243317  20240101  20241231
3      창원시 의창구  202401    기타  경기       41     4805620  20240101  20241231
4      창원시 의창구  202401    기타  경남    16936  1156046566  20240101  20241231
...        ...     ...   ...  ..      ...         ...       ...       ...
28409      합천군  202412   자동차  경북       34    24976011  20240101  20241231
28410      합천군  202412   자동차  대구      103     5918574  20240101  20241231
28411      합천군  202412   자동차  부산       21     2549692  20240101  20241231
28412      합천군  202412   자동차  인천       21     1425634  20240101  20241231
28413      합천군  202412  주거생활  경남       21      601097  20240101  20241231

[28414 rows x 8 columns]>

In [23]:
sales_2024_month.head()

      시군구명      연월  분류 유입지  매출건수(건)     매출합계(원)     집계시작일     집계종료일
0  창원시 의창구  202401  교육  경기       21     1021247  20240101  20241231
1  창원시 의창구  202401  교육  경남    26587  2814543708  20240101  20241231
2  창원시 의창구  202401  교육  부산       62     5243317  20240101  20241231
3  창원시 의창구  202401  기타  경기       41     4805620  20240101  20241231
4  창원시 의창구  202401  기타  경남    16936  1156046566  20240101  20241231

In [7]:
sales_2023_sexage.describe()

                  월          매출건수        매출금액합계      데이터기준일
count  33544.000000  33544.000000  3.354400e+04     33544.0
mean       6.548116   2436.635553  6.098918e+07  20240101.0
std        3.433876   7401.264794  1.579337e+08         0.0
min        1.000000      3.000000  3.500000e+01  20240101.0
25%        4.000000     18.000000  4.605275e+05  20240101.0
50%        7.000000    136.000000  4.259060e+06  20240101.0
75%       10.000000   1146.250000  3.395710e+07  20240101.0
max       12.000000  94881.000000  1.774970e+09  20240101.0